.wy-menu-vertical li.toctree-l3.current li.toctree-l4>ul,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5>ul,
.wy-menu-vertical li.toctree-l5.current li.toctree-l6>ul,
.wy-menu-vertical li.toctree-l6.current li.toctree-l7>ul,
.wy-menu-vertical li.toctree-l7.current li.toctree-l8>ul,
.wy-menu-vertical li.toctree-l8.current li.toctree-l9>ul,
.wy-menu-vertical li.toctree-l9.current li.toctree-l10>ul,
.wy-menu-vertical li.toctree-l10.current li.toctree-l11>ul,
.wy-menu-vertical li.toctree-l11.current li.toctree-l12>ul,
.wy-menu-vertical li.toctree-l12.current li.toctree-l13>ul {
	display: none
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4.current>ul,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5.current>ul,
.wy-menu-vertical li.toctree-l5.current li.toctree-l6.current>ul,
.wy-menu-vertical li.toctree-l6.current li.toctree-l7.current>ul,
.wy-menu-vertical li.toctree-l7.current li.toctree-l8.current>ul,
.wy-menu-vertical li.toctree-l8.current li.toctree-l9.current>ul,
.wy-menu-vertical li.toctree-l9.current li.toctree-l10.current>ul,
.wy-menu-vertical li.toctree-l10.current li.toctree-l11.current>ul,
.wy-menu-vertical li.toctree-l11.current li.toctree-l12.current>ul,
.wy-menu-vertical li.toctree-l12.current li.toctree-l13.current>ul {
	display: block
}
.wy-menu-vertical li.toctree-l4.current li[class*="toctree-l"]>a{
    padding: .4045em 5.663em;
}
.wy-menu-vertical li.toctree-l5>a{
	padding-left: 6.663em !important;
}
.wy-menu-vertical li.toctree-l6>a{
	padding-left: 7.663em !important;
}
.wy-menu-vertical li.toctree-l7>a{
	padding-left: 8.663em !important;
}
.wy-menu-vertical li.toctree-l8>a{
	padding-left: 9.663em !important;
}
.wy-menu-vertical li.toctree-l9>a{
	padding-left: 10.663em !important;
}
.wy-menu-vertical li.toctree-l10>a{
	padding-left: 11.663em !important;
}
.wy-menu-vertical li.toctree-l11>a{
	padding-left: 12.663em !important;
}
.wy-menu-vertical li.toctree-l12>a{
	padding-left: 13.663em !important;
}
.wy-menu-vertical li.toctree-l13>a{
	padding-left: 14.663em !important;
}
